@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till din CD-Samling </h1>
    <p>Här du lägga till och hantera skivor i din skivsamling. </p>
</div>
